/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
p {
}

.table-border {
    border: 1px solid #FFFFFF;
}

#photo-resize {
    max-width:200px;
	max-height: 250px 
    
}
